<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head th:replace="fragments/config :: configFragment"> </head>
	
	<body class="hold-transition skin-blue layout-top-nav">
		<div class="wrapper">
			<header th:replace="fragments/header :: naviFragment"></header>
			
			<div class="content-wrapper">
				<div class="container">
					<section class="content-header">
						<h1>General Form Elements <small>Top Navigation</small></h1>
						<ol class="breadcrumb">
							<li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
							<li><a href="#">Board</a></li>
							<li class="active">List All Page</li>
						</ol>
					</section>
					
					<section class="content">
						<div class="box">
							<div class="box-header with-border">
								<h3 class="box-title">Board List Page</h3>
								<button id="regBtn" type="button"
								        class="btn btn-default pull-right">
									Register New Board
								</button>
							</div>
							<div class="box-body">
								<table class="table table-bordered table-hover">
									<tr>
										<th style="width:10px">#</th>
										<th>Title</th><th>Writer</th><th>Registered Date</th>
										<th>Update Date</th>
									</tr>
									<tr th:each="board:${list}">
										<td th:text="${board.bno}"></td>
										<td><a th:href="@{'/board/read?bno='+${board.bno}}"
										       th:text="${board.title}"></a></td>
										<td th:text="${board.writer}"></td>
										<td th:text="${#dates.format(board.regdate, 'yyyy-MM-dd HH:mm')}"></td>
										<td th:text="${#dates.format(board.updateDate, 'yyyy-MM-dd HH:mm')}"></td>
									</tr>
								</table>
								<div class="modal fade" id="resultModal">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" 
												        data-dismiss="modal"
												        aria-hidden="Close">
													<span aria-hidden="true">&times;</span>
												</button>
												<h4 class="modal-title">Board Info</h4>
											</div>
											<div class="modal-body">
												<p>처리가 완료되었습니다.</p>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-default"
												        data-dismiss="modal">Close</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
			
			<footer th:replace="fragments/footer :: footerFragment"></footer>
		</div>
		
		<footer th:replace="fragments/footer :: scriptFragment"></footer>
		<script type="text/javascript">
			$(document).ready(function(){
				var result = "[[${result}]]";
				checkModal(result);
				
				history.replaceState({}, null, null);
				function checkModal(result){
					if(result == '' || history.state){
						return;
					}
					if(parseInt(result) > 0){
						$(".modal-body").html(
								"게시글 " + parseInt(result) + "번이 등록되었습니다.");
						$("#resultModal").modal("show");
					}
				}
				
				$("#regBtn").on("click", function(){
					self.location = "/board/register";
				});
				
			});
		</script>
	</body>
</html>





